html {
  scroll-behavior: smooth;
}
body {
  padding-top: 60px;
}


/*||||||||||||||||||||||||||||||||*/
/*  NAVIGATION BAR STYLES START  */
/*|||||||||||||||||||||||||||||||*/
.navbar-brand img{
  height: 40px;
}
.fa-bars{
/*  color: #ff3d34; */
color: #1b94dd;
}
#topnav{
  transition: all 0.5s;
  background-color:	rgba(233, 235, 245,0.9)
}
.navbar-nav a{
  /*color:#5f687b;*/
  color:#1b94dd;
  opacity: 1;
}
.navbar-nav a.active{
  /*color: #ff3d34;*/
  /*color: #1b94dd;*/
  border: 1px solid transparent;
  color:#eee;
  background-color: #1b94dd;
  border-radius: 1.5rem;
}
.navbar-nav a:hover{
  opacity: 0.8;
  border: 1px solid transparent;
  color:#eee;
  background-color: #1b94dd;
  border-radius: 1.5rem;
}
.navbar-shadow{
  width: 100%;
  border-radius: 2px;
  box-shadow: 0 0px 15px rgb(0,0,0,0.25);
}
nav ul li a.current{
  border: 1px solid transparent;
  color:#eee;
  background-color: #1b94dd;
  border-radius: 1.5rem;
}
/*||||||||||||||||||||||||||||||||*/
/*   NAVIGATION BAR STYLES END   */
/*|||||||||||||||||||||||||||||||*/



/*||||||||||||||||||||||||||||||||*/
/*       INTRO STYLES START      */
/*|||||||||||||||||||||||||||||||*/
#intro{
  width: 100%;
  height: 80vh;
  background: #fff;
}
#intro h1{
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  color: #0b1853;
}
#intro h2{
  color: #182b8b;
  margin: 10px 0;
  font-size: 26px;
}
#intro .btn{
  margin-top: 10px;
  margin-right: 5px;
  background-color: #1b94dd;
  border-radius: 1.25rem;
}
#intro .btn:hover{
  opacity: 0.8;
}
#intro hr{
  border: 2px solid #0b1853;
  opacity: 0.9;
  margin-top: 10px;
  margin-left: 0;
  margin-bottom: 20px;
  width: 70%;
}
.animate{
  animation: moveUpDown 2s ease-in-out infinite alternate both;
  -webkit-animation: moveUpDown 2s ease-in-out infinite alternate both;
}
@keyframes moveUpDown {
  0% { transform: translateY(+10px); }
  100% { transform: translateY(-10px); }
}
@-webkit-keyframes up-down {
  0% { transform: translateY(+10px); }
  100% { transform: translateY(-10px); }
}

@media (max-width: 991px) {
  #intro {
    height: 100vh;
  }
  #intro .animate {
    -webkit-animation: none;
    animation: none;
  }
  #intro .intro-img {
    text-align: center;
  }
  #intro .intro-img img {
    width: 80%;
  }
  #headline{
    margin-bottom: 200px;
  }
}

@media (max-width: 768px) {
  #intro h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #intro h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
  #intro .intro-img img {
    width: 100%;
  }
  #headline{
    margin-bottom: 100px;
  }
}
/*||||||||||||||||||||||||||||||||*/
/*        INTRO STYLES END       */
/*|||||||||||||||||||||||||||||||*/



/*||||||||||||||||||||||||||||||||*/
/*  INTRO-TRANSITION STYLES START */
/*|||||||||||||||||||||||||||||||*/
#intro-transition{
  /*background-color: #1b94dd;*/
  background: -webkit-linear-gradient(left, #0072ff, #00c6ff);
  background: linear-gradient(left, #0072ff, #00c6ff);
  color: #eee;
  padding: 20px 0;
  text-align: center;
}
#intro-transition h3{
  font-size: calc( 1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20)));
  line-height: calc( 1.4 * (1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20))));
}
#intro-transition p{
  margin: 0;
}
#intro-transition i{
  font-size: 90px;
}
@media (max-width: 768px) {
  #intro-transition{
    display: none;
  }
}
/*||||||||||||||||||||||||||||||||*/
/*  INTRO-TRANSITION STYLES END  */
/*|||||||||||||||||||||||||||||||*/



/*|||||||||||||||||||||||||||||||||||||||*/
/*  INTRO-TRANSITION PHONE STYLES START */
/*|||||||||||||||||||||||||||||||||||||*/
#intro-transition-phone{
  /*background-color: #1b94dd;*/
  background: -webkit-linear-gradient(left, #0072ff, #00c6ff);
  background: linear-gradient(left, #0072ff, #00c6ff);
  color: #eee;
  padding: 20px 0;
  text-align: center;
  /* display: block; */
}
#intro-transition-phone h3{
  font-size: calc( 1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20)));
  line-height: calc( 1.4 * (1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20))));
}
#intro-transition-phone p{
  margin: 0;
}
#intro-transition-phone i{
  font-size: 90px;
}
@media (min-width: 768px) {
  #intro-transition-phone{
    display: none;
  }
  #intro-transition-phone i{
    font-size: 60px;
    padding: 0 10px;
  }
  #intro-transition-phone p{
    margin-bottom: 10px;
  }
}
/*||||||||||||||||||||||||||||||||||||||*/
/*  INTRO-TRANSITION PHONE STYLES END  */
/*||||||||||||||||||||||||||||||||||||*/



/*||||||||||||||||||||||||||||||||*/
/*      ABOUT US STYLES START    */
/*|||||||||||||||||||||||||||||||*/
#about{
  background: linear-gradient(45deg, #0b1853 50%, #fff 50%);
  padding: 30px 0 20px 0;
}
#about .heading{
  margin: 10px auto;
  font-size: 48px;
  font-weight: 700;
  color: #0b1853;
}
#about hr{
  border: 2px solid #0b1853;
  opacity: 0.9;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 20%;
}
#about-desc{
  color:white;
}
@media (max-width:991px){
  #about{
    background: linear-gradient(180deg, #fff 50%, #0b1853 50%);
    text-align: center;
  }
  #about .btn{
    margin: 0 auto;
  }
  #about .img-fluid{
    max-width: 75%;
  }
}
@media (max-width: 768px) {
  #about .heading {
    font-size: 28px;
  }
  #about-desc{
    margin-top: 15px;
  }
}
/*||||||||||||||||||||||||||||||||*/
/*       ABOUT US STYLES END     */
/*|||||||||||||||||||||||||||||||*/



/*||||||||||||||||||||||||||||||||*/
/*     SERVICES STYLES START     */
/*|||||||||||||||||||||||||||||||*/
#services{
  padding: 40px 0;
  background: linear-gradient(127.5deg, #fff 50%, #0b1853 50%);
}
#services .heading{
  margin: 10px auto;
  font-size: 48px;
  font-weight: 700;
  color: #0b1853;
}
#services hr{
  border: 2px solid #0b1853;
  opacity: 0.9;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 20%;
}
.card{
  margin: 20px 0;
  padding-top: 15px;
  border-radius: 25px;
  box-shadow: 0 0px 15px rgb(0,0,0,0.25);
}
.card:hover{
  transform: scale(1.05);
}
.card-img-top{
  width: 50% !important;
  margin: 0 auto !important;
}
.card-title{
  font-size: 1.6rem;
  font-weight: bold;
  color: #1028a5;
  cursor: default;
}
.card-body{
  padding: 0;
}
.card-deck{
  flex-direction: row !important;
  -ms-flex-direction: row !important;
}
@media (max-width: 768px) {
  #services .heading {
    font-size: 28px;
  }
  .card{
    margin-right: 10px;
    margin-top: 0px;
  }
  .card-title{
    font-size: 1rem;
  }
}
/*||||||||||||||||||||||||||||||||*/
/*      SERVICES STYLES END       */
/*|||||||||||||||||||||||||||||||*/



/*||||||||||||||||||||||||||||||||*/
/*       TEAM STYLES START        */
/*|||||||||||||||||||||||||||||||*/
#team{
  padding: 30px 0 20px 0;
  background: -webkit-linear-gradient(right, #0072ff, #00c6ff);
  background: linear-gradient(right, #0072ff, #00c6ff);
}
#team .heading{
  margin: 10px auto;
  font-size: 48px;
  font-weight: 700;
  color: #fff;
  cursor: default;
}
#team hr{
  border: 2px solid #fff;
  opacity: 0.9;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  width: 15%;
}
#team h5{
  color: #eee;
  cursor: default;
}
.teamImage{
  max-width: 200px;
  z-index: 5;
  margin: 20px auto;
}
.teamImage img{
  max-width: 200px;
  margin: auto;
  border-radius: 50%;
  border: 2px solid #dedede;
  background: #fff;
  padding: 7px;
  box-shadow: 0 7px 10px #999;
}
#teamMember1,#teamMember2,#teamMember3{
  border-right: 1px dotted #0b1853;
}
.teamDesc h4{
  color: #fff;
  font-weight: bold;
  cursor: default;
}
.teamDesc p{
  color: #eee;
  cursor: default;
}
#team .fa{
  padding: 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}
@media (max-width:768px) {
  #team .heading{
    font-size: 28px;
  }
  #teamMember1,#teamMember2{
    border-bottom: 1px dotted #0b1853;
    border-right: 0px;
  }
}
/*||||||||||||||||||||||||||||||||*/
/*        TEAM STYLES END         */
/*|||||||||||||||||||||||||||||||*/



/*||||||||||||||||||||||||||||||||*/
/*      SKILLS STYLES START    */
/*|||||||||||||||||||||||||||||||*/
#skills{
  padding: 30px 0 20px 0;
}
#skills .heading{
  margin: 10px auto;
  font-size: 48px;
  font-weight: 700;
  /* color: #0b1853; */
  color:#ffffff;
}
#skills .row{
  margin-left: 0 !important;
  margin-right: 0 !important;
}
#skills hr{
  /* border: 2px solid #0b1853; */
  border: 2px solid #ffffff;

  opacity: 0.9;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 12%;
}
.bg-skills{
  background-color: #0b1853;
}
.bg-skills-white{
  background-color: rgba(255,255,255,0.9);
  border-radius: 5px;
}
.chart-container {
  position: relative;
  margin: auto;
  height: 80vh;
  width: 80vw;
}
@media (max-width:998px){
  #skills{
    /* background: linear-gradient(180deg, #fff 50%, #0b1853 50%); */
    text-align: center;
  }
  #skills .btn{
    margin: 0 auto;
  }
  #skills .img-fluid{
    max-width: 75%;
  }
}
@media (max-width: 768px) {
  #skills .heading {
    font-size: 28px;
  }
  #skills-desc{
    margin-top: 15px;
  }
}
/*||||||||||||||||||||||||||||||||*/
/*       SKILLS STYLES END     */
/*|||||||||||||||||||||||||||||||*/



/*||||||||||||||||||||||||||||||||*/
/*      CONTACT STYLES START      */
/*|||||||||||||||||||||||||||||||*/
#contact{
  background: -webkit-linear-gradient(left, #0072ff, #00c6ff);
  background: linear-gradient(left, #0072ff, #00c6ff);
  padding: 80px 0;
}
.contact-form{
  background: #fff;
  width: 70%;
}
.contact-form .form-control{
  border-radius:1rem;
}
.contact-image{
  text-align: center;
}
.contact-image img{
  border-radius: 6rem;
  width: 11%;
  margin-top: -3%;
  transform: rotate(29deg);
}
.contact-form form{
  padding: 14%;
}
.contact-form form .row{
  margin-bottom: -7%;
}
.contact-form h3{
  margin-bottom: 8%;
  margin-top: -10%;
  text-align: center;
  color: #0062cc;
}
.contact-form .btnContact {
  width: 50%;
  border: none;
  border-radius: 1rem;
  padding: 1.5%;
  background: #0062cc;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}
.btnContactSubmit{
  width: 50%;
  border-radius: 1rem;
  padding: 1.5%;
  color: #fff;
  background-color: #0062cc;
  border: none;
  cursor: pointer;
}
.sm-scr-btn{
  display: none;
}
@media (max-width: 768px){
  .sm-scr-btn{
    display: inherit;
  }
  .lg-scr-btn{
    display: none;
  }
  .contact-image img{
    width: 25%;
    margin-top: -9%;
  }
}
/*||||||||||||||||||||||||||||||||*/
/*       CONTACT STYLES END       */
/*|||||||||||||||||||||||||||||||*/



/*||||||||||||||||||||||||||||||||*/
/*      FOOTER STYLES START       */
/*|||||||||||||||||||||||||||||||*/
.footer{
  background-color: #00162e;
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer-text-top{
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: bolder;
  color: white;
  margin-bottom: 10px;
}
.footer-text-top hr{
  margin-left:auto;
  margin-right: auto;
  border: 1px solid white;
  margin-top: 2px;
  width: 125px;
}
.footer-text-bottom{
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  color: #777;
  margin-top: 10px;
}
.footer-text-bottom hr{
  margin-left:auto;
  margin-right: auto;
  border: 1px solid #777;
  margin-top: 2px;
  width: 40%;
}
.sm-icons{
  margin: 0 auto;
  text-align: center;
}
.footer .sm-icons .fa {
  padding: 20px;
  font-size: 30px;
  width: 70px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}
.footer .sm-icons .fa:hover,.footer .sm-icons img:hover {
  transform: scale(1.05);
}
.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-github {
  background: #222;
  color: white;
}

.fa-instagram {
  background: #c13584;
  color: white;
}

.fa-fonticons {
  background: #00b22d;
  color: white;
}

#freelancer img, #upwork img{
  height: 60px;
}
/*||||||||||||||||||||||||||||||||*/
/*       FOOTER STYLES END        */
/*|||||||||||||||||||||||||||||||*/
