html {
  scroll-behavior: smooth;
}
body {
  padding-top: 60px;
}


/*||||||||||||||||||||||||||||||||*/
/*  NAVIGATION BAR STYLES START  */
/*|||||||||||||||||||||||||||||||*/
.navbar-brand img{
  height: 40px;
}
.fa-bars{
/*  color: #ff3d34; */
color: #1b94dd;
}
#topnav{
  transition: all 0.5s;
  background-color:	rgba(233, 235, 245,0.9)
}
.navbar-nav a{
  /*color:#5f687b;*/
  color:#1b94dd;
  opacity: 1;
}
.navbar-nav a.active{
  /*color: #ff3d34;*/
  /*color: #1b94dd;*/
  border: 1px solid transparent;
  color:#eee;
  background-color: #1b94dd;
  border-radius: 1.5rem;
}
.navbar-nav a:hover{
  opacity: 0.8;
  border: 1px solid transparent;
  color:#eee;
  background-color: #1b94dd;
  border-radius: 1.5rem;
}
.navbar-shadow{
  width: 100%;
  border-radius: 2px;
  box-shadow: 0 0px 15px rgb(0,0,0,0.25);
}
/*||||||||||||||||||||||||||||||||*/
/*   NAVIGATION BAR STYLES END   */
/*|||||||||||||||||||||||||||||||*/



/*||||||||||||||||||||||||||||||||*/
/*       INTRO STYLES START      */
/*|||||||||||||||||||||||||||||||*/
#intro{
  width: 100%;
  height: 80vh;
  background: #fff;
}
#intro h1{
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  color: #0b1853;
}
#intro h2{
  color: #182b8b;
  margin: 10px 0;
  font-size: 26px;
}
#intro .btn{
  margin-top: 10px;
  margin-right: 5px;
  background-color: #1b94dd;
  border-radius: 1.25rem;
}
#intro .btn:hover{
  opacity: 0.8;
}
#intro hr{
  border: 2px solid #0b1853;
  opacity: 0.9;
  margin-top: 10px;
  margin-left: 0;
  margin-bottom: 20px;
  width: 70%;
}
.animate{
  animation: moveUpDown 2s ease-in-out infinite alternate both;
  -webkit-animation: moveUpDown 2s ease-in-out infinite alternate both;
}
@keyframes moveUpDown {
  0% { transform: translateY(+10px); }
  100% { transform: translateY(-10px); }
}
@-webkit-keyframes up-down {
  0% { transform: translateY(+10px); }
  100% { transform: translateY(-10px); }
}

@media (max-width: 991px) {
  #intro {
    height: 100vh;
  }
  #intro .animate {
    -webkit-animation: none;
    animation: none;
  }
  #intro .intro-img {
    text-align: center;
  }
  #intro .intro-img img {
    width: 80%;
  }
  #headline{
    margin-bottom: 200px;
  }
}

@media (max-width: 768px) {
  #intro h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #intro h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
  #intro .intro-img img {
    width: 100%;
  }
  #headline{
    margin-bottom: 100px;
  }
}
/*||||||||||||||||||||||||||||||||*/
/*        INTRO STYLES END       */
/*|||||||||||||||||||||||||||||||*/



/*||||||||||||||||||||||||||||||||*/
/*  INTRO-TRANSITION STYLES START */
/*|||||||||||||||||||||||||||||||*/
#intro-transition{
  background-color: #1b94dd;
  color: #eee;
  padding: 20px 0;
  text-align: center;
}
#intro-transition h3{
  font-size: calc( 1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20)));
  line-height: calc( 1.4 * (1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20))));
}
#intro-transition p{
  margin: 0;
}
#intro-transition i{
  font-size: 90px;
}
@media (max-width: 768px) {
  #intro-transition i{
    font-size: 60px;
    padding: 0 10px;
  }
  #intro-transition p{
    margin-bottom: 10px;
  }
}
/*||||||||||||||||||||||||||||||||*/
/*  INTRO-TRANSITION STYLES END  */
/*|||||||||||||||||||||||||||||||*/



/*||||||||||||||||||||||||||||||||*/
/*      ABOUT US STYLES START    */
/*|||||||||||||||||||||||||||||||*/
#about{
  background: linear-gradient(45deg, #0b1853 50%, #fff 50%);
  padding: 20px 0;
}
#about .heading{
  margin: 10px auto;
  font-size: 48px;
  font-weight: 700;
  color: #0b1853;
}
#about hr{
  border: 2px solid #0b1853;
  opacity: 0.9;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 20%;
}
#about-desc{
  color:white;
}
@media (max-width:998px){
  #about{
    background: linear-gradient(180deg, #fff 50%, #0b1853 50%);
    text-align: center;
  }
  #about .btn{
    margin: 0 auto;
  }
}
@media (max-width: 768px) {
  #about .heading {
    font-size: 28px;
  }
  #about-desc{
    margin-top: 15px;
  }
}
/*||||||||||||||||||||||||||||||||*/
/*       ABOUT US STYLES END     */
/*|||||||||||||||||||||||||||||||*/
